<div class="span6 offset3">
	<div class="well">
	<h2>Sign up</h2>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:class=>'form-horizontal'}) do |f| %>
	<fieldset>
	  <%= devise_error_messages! %>

	<div class="control-group"><%= f.label :email, :class=>'control-label' %>
		<div class="controls">
	  		<%= f.email_field :email, :class=>'input-xlarge' %>
		</div>
	</div>

	<div class="control-group"><%= f.label :password, :class=>'control-label' %>
		<div class="controls">
	  		<%= f.password_field :password, :class=>'input-xlarge' %>
		</div>
	</div>
	
	<div class="control-group"><label class="control-label" for="user_password_confirmation">password again.!</label>
		<div class="controls">
	  		<%= f.password_field :password_confirmation, :class=>'input-xlarge' %>
		</div>
	</div>
	<div class="form-actions"><%= f.submit "Sign in", :class=>'btn btn-primary' %><%= render "devise/shared/links" %></div>
	</fieldset>
	<% end %>
	</div>
</div>