<ul class="nav nav-pills pull-right" style="margin-bottom:0px">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i> <b class="caret"></b></a>
              <ul id="menu1" class="dropdown-menu">
				<%- if controller_name != 'sessions' %>
				  <li><%= link_to "Sign in", new_session_path(resource_name) %></li>
				<% end -%>
				<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
				  <li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
				<% end -%>

				<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
				  <li><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
				<% end -%>

				<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
				  <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></li>
				<% end -%>

				<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
				  <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></li>
				<% end -%>

				<%- if devise_mapping.omniauthable? %>
				  <%- resource_class.omniauth_providers.each do |provider| %>
				    <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
				  <% end -%>
				<% end -%>
              </ul>
            </li>
</ul>