<div class="span6 offset3">
	<div class="well">
		<h2>Forgot your password?</h2>
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class=>'form-horizontal'}) do |f| %>
		<fieldset>
	  		<%= devise_error_messages! %>
			<div class="control-group"><%= f.label :email, :class=>'control-label' %>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-envelope"></i></span><%= f.email_field :email, :class=>'input-xlarge' %>
		            </div>
				</div>				
			</div>
			<div class="form-actions"><%= f.submit "Send me reset instructions", :class=>'btn btn-primary' %><%= render "devise/shared/links" %></div>
		</fieldset>
		<% end %>
	</div>
</div>