<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Restaurants</th>
    </tr>
  </thead>
  <tbody>
	<% @restaurants.each do |restaurant| %>
    	<tr>
	      <td><%= restaurant.name%></td>
	    </tr>
	<% end %>
  </tbody>
</table>