<div class="span6 offset3">
	<div class="well">
	<h2>Sign in</h2>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html=>{:class=>'form-horizontal'}) do |f| %>
	<fieldset>
	  <%= devise_error_messages! %>

	<div class="control-group"><%= f.label :email, :class=>'control-label' %>
		<div class="controls">
	  		<%= f.email_field :email, :class=>'input-xlarge' %>
		</div>
	</div>

	<div class="control-group"><%= f.label :password, :class=>'control-label' %>
		<div class="controls">
	  		<%= f.password_field :password, :class=>'input-xlarge' %>
		</div>
	</div>
	
	<% if devise_mapping.rememberable? -%>
	<div class="control-group">
		<div class="controls">
	       <label class="checkbox">
             <%= f.check_box :remember_me %>
             <%= f.label :remember_me %>
           </label>
		</div>
	</div>
	<% end -%>
	
	<div class="form-actions"><%= f.submit "Sign in", :class=>'btn btn-primary' %><%= render "devise/shared/links" %></div>
	</fieldset>
	<% end %>
	</div>
</div>