<html lang="en"><head>
    <meta charset="utf-8">
    <title>Eatslick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Main Website">
    <meta name="author" content="Karthik Thirumalasetti">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  	<%= stylesheet_link_tag    "application", :media => "all" %>
    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  	<%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Eatslick</a>
          <div class="nav-collapse">
            <ul class="nav">
              <!--li class="active"><a href="#">Home</a></li-->
            </ul>
			<ul class="nav pull-right">
			            <li class="divider-vertical"></li>
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li><%= link_to('Sign in', new_user_session_path)  %></li>
			                <li><%= link_to('Sign up', new_user_registration_path)  %></li>
			              </ul>
			            </li>
			          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
		<div class="span12">
			<%=yield%>
		</div>
      </div>
      <hr>
      <footer>
        <p> Company 2012</p>
      </footer>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag "application" %>
</body></html>